body{
	background-image: url(../img/bg_02.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
.nav1{
	opacity: 0.65;
	width:auto;
}
.ul-head0{
	margin-left: 10px !important;
}
.ul-head1{
	
}
.ul-head1>li>a {
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.ul-head2{
	margin-right: 10px;
}
.panel1{
	position: relative;
	/*top: 100px;
	left: 315px;
	width: 500px;
	height: 450px;*/
	top: 80px;
	left: 0px;
	width: auto;
	height: 450px;
	opacity: 0.90;
}
/*.panel2{
	position: relative;
	top: 100px;
	left: 315px;
	width: 500px;
	height: 450px;
	opacity: 0.85;
}*/
.float-right{
	float: right;
}
.pt-3{
	padding-top: 1.7rem;
}
.pan{
	padding-top: 30px;
	padding-bottom: 45px;
}
.log{
	text-align: center;
}
