body{
	background-image: url(../img/bg_06.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
.nav1{
	/*opacity: 0.65;*/
    color: RGBA(255,255,255,0.65);
	width:auto;
}
.ul-head0{
	margin-left: 10px !important;
}
.ul-head1{
	
}
.ul-head1>li>a {
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.ul-head2{
	margin-right: 10px;
}
.post-title {
    margin-bottom: .9375rem;
    font-weight: 300;
    font-size: 7rem;
    text-align: center;
    color: #bcbcbc;
    margin-top: 100px;
}
.poststyle {
    text-shadow: 0 0 0px #452d2d, 0 0 0px #FFFFFB, 0 0 0px #FFFFFB;
    font-family: 'Comic Sans MS','Open Sans','Microsoft Yahei','Microsoft Yahei',-apple-system,sans-serif;
}